In [1]:
import pandas as pd
import os

dir_path = "dataset"
res = []

for path in os.listdir(dir_path):
    res.append(path)
print(res)
# df = pd.read_csv("dataset/nyt1.csv")

data = pd.read_excel("dataset/rollingsales_manhattan.xls", skiprows=4)
data.columns = [column.lower().replace("\n", "").replace(" ", "_").replace("-", "_") for column in data.columns]
# data = data[data.year_built > 0]

data_price_zero = data[data.saleprice <=10].borough.count()
print(data_price_zero)

['rollingsales_bronx.xls', 'rollingsales_brooklyn.xls', 'rollingsales_manhattan.xls', 'rollingsales_queens.xls', 'rollingsales_statenisland.xls']
7770

In [2]:
print(data.columns)

Index(['borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease_ment',
       'building_class_at_present', 'address', 'apartmentnumber', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'saleprice', 'sale_date'],
      dtype='object')

In [3]:
print(data.saleprice)

0        2214693
1        1654656
2        1069162
3        1374637
4        1649565
          ...
27390          0
27391     495000
27392          0
27393          0
27394          0
Name: saleprice, Length: 27395, dtype: int64